<!DOCTYPE html>
<html lang="es">
    <head>
        <style>
            .button.is-primary.is-rounded {
                width: 150px;
                height: 50px;
                font-size: 18px;
            }

            body,
            html {
                background: linear-gradient(to bottom, #33ffff 0%, #b3ffff 100%);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <meta charset="UTF-8">
        <title>Gráfica de Pagos</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    </head>
    <body>
        <div id="contenido-pdf" style="width: 70%; margin: auto; padding-top: 50px;">
            <canvas id="myChart"></canvas>
        </div>
        <div style="text-align: center; padding-top: 20px;">
            <button
                id="download-pdf"
                class="button is-primary is-rounded"
                style="padding: 10px 20px; font-size: 16px;">Descargar PDF</button>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const meses = JSON.parse('{{ meses|safe }}');
                const datosChart = JSON.parse('{{ datos_chart|safe }}');
                const bancos = JSON.parse('{{ bancos|safe }}');
                console.log(meses)
                console.log(datosChart)
                console.log(bancos)
                const datasets = bancos.map(
                    (banco, index) => ({label: banco, backgroundColor: getRandomColor(index), data: datosChart[banco]})
                );

                function getRandomColor(index) {
                    const hues = [210, 10, 130, 250, 310];
                    return `hsl(${hues[index % hues.length]}, 70%, 60%)`;
                }

                const ctx = document
                    .getElementById('myChart')
                    .getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: meses,
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            },
                            x: {
                                stacked: false
                            }
                        },
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top'
                            },
                            title: {
                                display: true,
                                text: 'Ingresos por Banco (Montos en Quetzales)',
                                font: {
                                    size: 24
                                }
                            }
                        }
                    }
                });
            });
        </script>
        <script>
            window.onload = function () {
                document
                    .getElementById('download-pdf')
                    .addEventListener('click', function () {
                        const content = document.getElementById('contenido-pdf');
                        const {jsPDF} = window.jspdf;
                        html2canvas(content, {
                            scale: 2,
                            useCORS: true,
                            logging: true
                        })
                            .then(canvas => {
                                var imgData = canvas.toDataURL('image/png');
                                var doc = new jsPDF({orientation: 'p', unit: 'pt', format: 'a4'});
                                var pdfWidth = doc
                                    .internal
                                    .pageSize
                                    .getWidth();
                                var pdfHeight = doc
                                    .internal
                                    .pageSize
                                    .getHeight();
                                var imgWidth = canvas.width;
                                var imgHeight = canvas.height;
                                var widthRatio = pdfWidth / imgWidth;
                                var heightRatio = pdfHeight / imgHeight;
                                var ratio = Math.min(widthRatio, heightRatio);

                                var newWidth = imgWidth * ratio;
                                var newHeight = imgHeight * ratio;

                                var startX = (pdfWidth - newWidth) / 2;
                                var startY = 0

                                doc.addImage(imgData, 'PNG', startX, startY, newWidth, newHeight);
                                doc.save('Resumen de Pagos.pdf');
                            })
                            .catch(error => {
                                console.error('Error al capturar el contenido para PDF:', error);
                            });
                    });
            };
        </script>